.input-form {
    max-width: 500px;
    width: 100%;
    overflow: hidden;
}

.proj-container {
    margin: 3%;
}

.proj-card {
    margin: auto;
    max-width: 750px;
    margin-bottom: 15px;
}

.mr-10 {
    margin-right: 10px;
}