<div class="login-div">
  <h2 class="text-center">Welcome to your personal bug tracking software</h2>
  <p>
    Add projects and keep track of the specific bug information when building and 
    refactoring your code.  Watch as your project's bug list status moves from the 'back log' 
    to 'in progress' to 'completed.'
  </p>
  <br> <br>
  <p class="text-center">Please login with your Google account to get started:</p>
  <div class="text-center">
    <button mat-raised-button color="accent" (click)="login()">Login with Google</button>
  </div>
</div>