/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    color: white;
    background-color: #303030;
}

.spacer {
    flex: 1 1 auto;
}

.margin-auto {
    margin: auto;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.mb-25 {
    margin-bottom: 25px;
}

.pl-35 {
    padding-left: 35px;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}